<div>
    <h3>Lista pracowników</h3>
    <sortingtable [rows]="rows" [columns]="columns" (select)="onSelected($event)"></sortingtable>
</div>
<div>
    <h4>Zarządzaj pracownikiem</h4>
    <form (ng-submit)="onSaveEmployee()" #hf="form" >
        <div class="form_group">
            <label>Id</label> {{selectedEmployee.id}}
        </div>
        <div class="form_group">
            <label>Imię: </label>
            <input type="text" class="form_style" required
                   [(ng-model)]="selectedEmployee.name" placeholder="Imię" #name="form">
        </div>
        <div class="form_group">
            <label>Nazwisko: </label>
            <input type="text" class="form_style" required
                   [(ng-model)]="selectedEmployee.surname" placeholder="Nazwisko" #name="form">
        </div>
        <div class="form_group">
            <label>Stanowisko: </label>
            <select #select (change)="changeEmployeePosition(select.value)">
                <option *ng-for="#position of positions" [selected]="position.name == selectedEmployee.position.name"
                 [value]="position.name">{{position.name}}</option>
            </select>
        </div>

        <div class="form_group">
            <p>Status: </p>
            <label>
                <input #employedck name="status" type="radio" (change)="changeEmployeeStatus($event)" [checked]="isEmployed"> </option>
                Zatrudniony
            </label>
            <label >
                <input #firedck name="status" type="radio" (change)="changeEmployeeStatus($event)" [checked]="!isEmployed"></option>
                Zwolniony
            </label>
        </div>

        <div class="form_group">
            <p>Role: </p>
            <label>
                <input #waiterck name="roles" type="checkbox" value="WAITER" [(ng-model)]="waiter" (change)="waiter = waiterck.checked"> </option>
                Kelner
            </label>
            <label >
                <input #cookck name="roles" type="checkbox" value="COOK" [(ng-model)]="cook"  (change)="cook = cookck.checked"></option>
                Kucharz
            </label>

                <label>
                    <input #managerck name="roles" type="checkbox" value="MANAGER" [(ng-model)]="manager"  (change)="manager = managerck.checked"></option>
                    Menedżer
                </label>
                <label>
                    <input #ownerck name="roles" type="checkbox" value="OWNER" [(ng-model)]="owner"  (change)="owner = ownerck.checked"></option>
                    Właściciel
                </label>
            </div>
        <div *ng-if="isNew" class="form_group">
            <div>
                <label>Login: </label>
                <input type="text" class="form_style" required
                       [(ng-model)]="login" placeholder="Login" #name="form">
            </div>
            <div>
                <label>Hasło: </label>
                <input type="password" class="form_style" required
                       [(ng-model)]="password" placeholder="Hasło" #name="form">
            </div>
            <div>
                <label>Potwierdź hasło: </label>
                <input type="password" class="form_style" required
                       [(ng-model)]="confirm" placeholder="Potwierdź hasło" #name="form">
                <div *ng-if="passwordMismatch">Hasła są różne!</div>
            </div>
        </div>

        <button  class="form_button">Zapisz</button>

    </form>

<button class="form_button"
        (click)="onNewEmployee()">Nowy pracownik</button>
<button *ng-if="!isNew" class="form_button"
        (click)="onChangeStatus()">{{statusButtonDescription}}
</button>
</div>
