<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class=" img-responsive img-center" src="img/restauration.jpg" alt="">
        </div>
    </div>
</div>

<form  class="form-signin"(ng-submit)="onLogin()" #hf="form">

<div class="form_group">
    <label class="sr-only" for="login">Login: </label>
    <input type="text" class="form-control" placeholder="Login" required
           [(ng-model)]="login" ng-control="login" #name="form">

</div>
<div class="form_group">
    <label  class="sr-only" for="password">Hasło: </label>
    <input class="form-control" type="password" placeholder="Hasło" required
           [(ng-model)]="password" ng-control="password" #name="form">
</div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Zaloguj</button>
</form>